<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
    <!-- 音乐库访问权限描述 -->
    <key>NSAppleMusicUsageDescription</key>
    <string>此应用需要访问您的音乐库来显示您的歌曲列表。</string>
    <key>NSMediaLibraryUsageDescription</key>
    <string>此应用需要访问您的音乐库来显示您的歌曲列表。</string>
</dict>
</plist>
